/* vim: set ft=css fdm=indent ai ts=2 sw=2 noet: */

@theme "common"

window {
	width: 35%;
	/* location: north; */
	/* anchor: north; */
	/* y-offset: 18; */
	location: center;
	anchor: center;
}
listview {
	/* layout: vertical; */
	/* spacing: 3px; */
	fixed-height: true;
	dynamic: false;
	lines: 6;
}
element-icon {
	size: 16px;
	border: 0px;
}

