/* vim: set ft=css fdm=indent ai ts=2 sw=2 noet: */

@theme "common"

window {
	width: 50%;
	location: center;
	anchor: center;
}

listview {
	/* dynamic: true; */
	/* fixed-height: false; */
	columns: 4;
	lines: 6;
}

/*mainbox {*/
	/*children: [ listview ];*/
/*}*/

element {
	orientation: vertical;
}

element-icon {
	size: 32px;
}

element-text {
	horizontal-align: 0.5;
	vertical-align: 0.5;
	font: "SF Pro Display Light 9";
	/*font: "SF Mono Light 11";*/
}

