[Unit]
Description=i3 cycle focus
#PartOf=graphical-session.target

[Service]
Slice=session.slice
ExecStart=/usr/local/bin/i3-cycle-focus --history 16

