[Unit]
Description=Main service for i3 graphical session
#PartOf=graphical-session.target

[Service]
Slice=session.slice
Type=oneshot
ExecStart=/usr/local/bin/make-xrandr-cache
