[Unit]
Description=Picom
Documentation=man:picom(1)
PartOf=graphical-session.target

[Service]
Slice=session.slice
LimitNICE=30
ExecStart=nice -n -10 /usr/bin/picom

