[Unit]
Description=Check for package updates timer

[Timer]
OnStartupSec=15min
OnUnitInactiveSec=30min
;OnCalendar=*:30:00
;Persistent=true

[Install]
WantedBy=timers.target
