[Unit]
Description=Polybar
Documentation=man:polybar(1) man:polybar(5)
#PartOf=graphical-session.target

[Service]
Slice=session.slice
LimitNICE=5
ExecStart=nice -n 15 ionice -t -c 3 schedtool -D -e /usr/bin/polybar %i

